/* body{
    overflow-y: scroll;
    overflow-x: scroll;
}

h1{
    position:relative;
    left: 800px;
    top: 800px;

} */
 /* .box1{
    position: relative;
    left: 200px;
 }
 .heading1{
    position: relative;
    left: 200px;
 }
 .heading2{
    position: relative;
    top: 80px;
 } */
 
 .heading1 {
position:sticky;
left: 500px; */
top: 50px;
/* background-color:crimson; */

 }  
 .heading2{
   position:absolute;
   left: 500px;
   top: 100px;
   background-color: coral;
 }
 body{
   background-color: brown;
 }
 .heading3{
   position:absolute;
   left: 700px;
   background-color: darkviolet;
   text-decoration:aqua;
   
 }